.linea-tiempo-proceso {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0;
  position: relative;
  flex-wrap: nowrap;
}

.fase-con-linea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-circulo-linea {
  display: flex;
  align-items: center;
  position: relative;
}

.circulo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #d4ffd4;
  border: 4px solid #00cc00;
  z-index: 2;
  font-weight: bold;
  font-size: 22px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.circulo.completado {
  background-color: #55ff00;
}
.circulo.actual {
  background-color: white;
  border: 4px solid #b51818;
  color: #b51818;
  font-weight: bold;
}

.circulo {
  background-color: #e0e0e0; /* gris claro por defecto */
  border: 4px solid #bfbfbf; /* gris medio */
  color: black;
}

.linea-horizontal {
  height: 12px;
  width: 180px;
  background-color: #ccc;
  z-index: 1;
  margin-left: -4px;
  margin-right: -4px;
  border: none;
  padding: 0;
}

.linea-horizontal.completado {
  background-color: #55ff00;
}

.nombre-fase {
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 100%; /* ocupa todo el ancho del padre */
  transform: translateX(-35%);
  position: relative;
  right: 0%;
}


/* RESPONSIVO: para pantallas pequeñas */
@media (max-width: 768px) {
  .linea-tiempo-proceso {
    flex-wrap: wrap;
    justify-content: center;
  }

  .fase-con-linea {
    margin-bottom: 20px;
  }

  .linea-horizontal {
    width: 80px; /* línea más corta en móvil */
  }

  .circulo {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }

  .nombre-fase {
    font-size: 14px;
    width: 45px;
  }
}



