.linea-tiempo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  position: relative;
  gap: 50px;
}

.fase {
  position: relative;
  text-align: center;
}

.circulo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.circulo.completado {
  background-color: #4cd964;
}

.descripcion-fase {
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.linea {
  position: absolute;
  top: 27px;
  left: 60px;
  width: 50px;
  height: 6px;
  background-color: #ccc;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.linea.linea-activa {
  background-color: #4cd964;
}
.numero-circulo {
  width: 42px;
  height: 90px;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 34px;
  border-radius: 25px;
  border: 3px solid white;
  box-shadow:
    0px 0px 0px 8px white,     /* borde blanco alrededor */
    0 10px 25px rgba(0, 0, 0, 0.35);  /* sombra externa inferior */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial Black', sans-serif;
}
